<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'projects/nav.css' %}">
        <link rel="stylesheet" href="{% static 'projects/reset.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="nav-container">
            <a href=/>Dashboard</a>
            <div class="nav-spacer"></div>
            {% if user.is_authenticated %}
              <a href="/accounts/logout">Logout</a>
            {% else %}
              <a href="/accounts/login">Login</a>
            {% endif %}
        </div>
    </body>
</html>



