<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    </head>
    <body>
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/">Dashboard</a>

                <ul class="pure-menu-list">
                    {% if user.is_authenticated%}
                        <li class="pure-menu-item pure-menu-selected"><a href="/accounts/logout" class="pure-menu-link">Logout</a></li>
                    {% else %}
                        <li class="pure-menu-item"><a href="/accounts/login" class="pure-menu-link">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </body>
</html>



