<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
        {% load static %}
        {% load project_filters%}
        <script src="{% static 'projects/project_detail.js' %}"></script> 
        <link rel="stylesheet" href="{% static 'projects/button.css' %}">
        <link rel="stylesheet" href="{% static 'projects/table.css' %}">
        <link rel="stylesheet" href="{% static 'projects/timer.css' %}">
    </head>
    <body>
        {% include "projects/nav.html" %}
        <div class="timer">
            <p class="timer-time"><span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span></p>
            <div class="timer-controls">
                <button class="primary-button" id="button-start">Start</button>
                <button class="primary-button" id="button-end">End</button>
                <button hidden id="button-reset">Reset</button>
            </div>
        </div>

        <form id="session-form" method="POST">    
            {% csrf_token %}
            <input type="hidden" id="start_time" name="start_date"></input>
            <input type="hidden" id="end_time" name="end_date"></input>
            <input type="hidden" id="total_time" name="total_time"></input>
            <input type="hidden" id="type" name="type" value="session"></input>
        </form>

        <form id="milestone-form" method="POST">    
            {% csrf_token %}
            <input type="hidden" id="milestone-description" name="description"></input>
            <input type="hidden" id="milestone-date" name="date"></input>
            <input type="hidden" id="milestone-type" name="type" value="milestone"></input>
            <button hidden type="hidden" id="milestone-submit" name="milestone-submit">Save Milestone</button>
        </form>

        <table>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Time</th>
            </tr>
            {% for session in sessions %}
            <tr>
                <td>{{session.start_date|date:'m-d-Y h:i a'}}</a></td>
                <td>{{session.end_date|date:'m-d-Y h:i a'}}</td>
                <td>{{session.total_time|seconds_to_time}}</td>
            </tr>
            {% endfor %}
        </table>

        {% comment %} <table>
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
            {% for milestone in milestones %}
            <tr>
                <td>{{milestone.date|date:'m-d-Y h:i a'}}</a></td>
                <td>{{milestone.description}}</td>
            </tr>
            {% endfor %}
        </table> {% endcomment %}
    </body>
</html> 